html{
    background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    padding: 0;
    margin: 0;
}
.divClass{
    color: #333;
    display: inline;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.divClass h1,h3,h4{
    justify-content: center;
    display: flex;
}

.divClass #spanId{
    font-size: 2rem;
    margin: 10px;
    display: inline;
    text-align: center;
}

#thirdDiv{
    background-color: teal;
    height: 700px;
    width: 500px;
    padding: 3rem;
    border: 2px solid midnightblue;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 400px;
}
ul{
    list-style: none;
}
p{
    text-align: center;
}



